<h1>Contact Manager</h1>
<div>
  <h3>Import a CSV File</h3>
  <%= form_tag import_contacts_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
  <%= flash[:notice] %>
</div>

<div>

<h3>Find all contacts</h3>
  <%= form_tag(contacts_path, :method => "get") do %>
    <%= submit_tag("All") %>
  <% end %>

<h3>Find contacts</h3>
  <%= form_tag(contacts_path, :method => "get") do %>
    <%= label_tag(:last_name, "Last Name or First Character of Last Name or Email:") %>
    <%= text_field_tag(:last_name) %>
    <%= submit_tag("Search") %>
  <% end %>
<div>
<table>
  <tr>
    <th>Last:</th>
    <th>First:</th>
    <th>Phone:</th>
    <th>E-Mail:</th>
  </tr>
  <% @contacts.each do |row| %>
    <tr>
      <td><%= row.last_name %></td>
      <td><%= row.first_name %></td>
      <td><%= row.phone %></td>
      <td><%= row.email %></td>
    </tr>
  <% end %>
</table>
</div>









</div>

